.desktop {
    background-color: #eef5f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 125%;
}

.desktop .div {
    background-color: #eef5f9;
    /* border: 1px none; */
    height: 1080px;
    position: relative;
    width: 1920px;
}

.desktop .overlap-group {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
    height: 418px;
    left: 550px;
    position: absolute;
    top: 161px;
    width: 559px;
}

.desktop .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 139px;
    letter-spacing: 0;
    line-height: 28.6px;
    position: absolute;
    top: 132px;
    width: 302px;
}

.desktop .image {
    height: 100px;
    left: 224px;
    object-fit: cover;
    position: absolute;
    top: 19px;
    width: 100px;
}

.desktop .overlap {
    height: 108px;
    left: 23px;
    position: absolute;
    top: 184px;
    width: 513px;
}


/* .desktop .rectangle {
    background-color: #d9d9d917;
    border: 1px solid;
    border-color: #000000;
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 513px;
} */


/* .desktop .rectangle-2 {
    background-color: #d9d9d917;
    border: 1px solid;
    border-color: #000000;
    height: 49px;
    left: 0;
    position: absolute;
    top: 59px;
    width: 513px;
} */

.desktop .line {
    height: 108px;
    left: 43px;
    position: absolute;
    top: 0;
    width: 1px;
}

.desktop .img {
    height: 37px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 37px;
}

.desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    /* left: 64px; */
    letter-spacing: 1;
    line-height: normal;
    opacity: 0.65;
    position: absolute;
    /* top: 73px; */
    white-space: nowrap;
    height: 49px;
    left: 43px;
    position: absolute;
    top: 59px;
    width: 460px;
}

.text-wrapper-2::placeholder {
    color: #999;
    /* Placeholder text color */
    text-align: left;
    /* Adjust placeholder text alignment */
    padding-left: 5px;
    /* Adjust margin of the placeholder */
}

.desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    /* left: 64px; */
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.65;
    position: absolute;
    /* top: 14px; */
    white-space: nowrap;
    height: 49px;
    left: 43px;
    position: absolute;
    top: 0;
    width: 460px;
}

.text-wrapper-3::placeholder {
    color: #999;
    /* Placeholder text color */
    text-align: left;
    /* Adjust placeholder text alignment */
    padding-left: 5px;
    /* Adjust margin of the placeholder */
}

.desktop .image-2 {
    height: 37px;
    left: 3px;
    object-fit: cover;
    position: absolute;
    top: 64px;
    width: 37px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/* .desktop .div-wrapper {
    background-color: #16629e;
    height: 49px;
    left: 22px;
    position: absolute;
    top: 347px;
    width: 513px;
} */

.desktop .button-solid {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 233px;
    letter-spacing: 0;
    line-height: normal;
    height: 49px;
    left: 22px;
    position: absolute;
    top: 347px;
    width: 513px;
    border: none;
    background-color: #16629e;
}

.desktop .button-solid:hover {
    background-color: #308bd0;
    color: #ffffff;
    border: none;
}

.desktop .overlap-2 {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
    height: 180px;
    left: 550px;
    position: absolute;
    top: 646px;
    width: 559px;
}

.desktop .p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 515px;
}

.desktop .image-3 {
    height: 37px;
    left: 165px;
    object-fit: cover;
    position: absolute;
    top: 90px;
    width: 37px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 206px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
    width: 234px;
}

.desktop .image-4 {
    height: 37px;
    left: 165px;
    object-fit: cover;
    position: absolute;
    top: 127px;
    width: 37px;
}

.desktop .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 206px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 133px;
    width: 195px;
}

.desktop .all-rights-reserved {
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 799px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 852px;
    width: 344px;
}

.desktop .span {
    color: #000000;
}

.desktop .text-wrapper-7 {
    color: #16629e;
}